@mixin topX($x) {
  margin-top: $x;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgrey;
  text-indent: 2px;
}

.popup {
  background: whitesmoke;
  width: 420px;
  height: auto;

  .progress {
    background: transparent;
    box-shadow: none;
    .progress-bar {
      height: 2px;
    }
  }

  .row {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .find-header {
    margin-top: 20px;
  }

  .current-song-header {
    color: seagreen;
    text-indent: 10px;
  }

  .controls {
    margin-top: 10px;
  }

  .search-div {
    margin-top: 10px;
  }

  .tracks {
    text-indent: 10px;
    li {
      list-style: none;
      padding-left: 5px;
      button {
        margin-left: 20px;
        background-color: transparent;
      }
    }
  }

  .title {
    .fa-soundcloud {
      color: orange;
    }
  }

  .playing {
    margin-left: 40px;
  }
  .all-tracks {
    button {
      width: 100%;
    }
  }

  .current-song {
    text-align: center;
    img {
      align-content: center;
    }
  }

  input:focus {
    outline: none;
  }
}

#song-name {
}

#search-bar {
  height: 30px;
  width: 270px;
}

#search {
  margin-left: 30px;
}
