@mixin topX($x) {
    margin-top: $x;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey;
  text-indent: 2px;
}

.popup {
    background: gold;
    width: 420px;
    height: auto;

    .row {
        @include topX(10px);
    }

    .tracks {
        li {
            list-style: none;
            padding-left: 5px;
            button {
                margin-left: 20px;
                background-color: transparent;
            }
        }
    }

    .title {
        .fa-soundcloud {
            color: black;
        }
    }

    .all-tracks {
        button {
            width: 100%;
        }
    }
    .current-song {
        text-indent: 10px;

        img {
            margin-left:160px;
            align-content: center;
        }
    }

    input:focus {
        outline: none;
    }
}

#song-name {

}

#search-bar {
  height: 30px;
  width: 270px;
}

#search {
  margin-left: 30px;
}